@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar-collapsed {
  width: 80px !important;
}

.nav-link {
  padding: 10px 15px;
}

.sidebar .nav-link.text-truncate {
  display: block;
  text-align: center;
}

.btn-light {
  color: #000;
  background-color: #fff;
  border-color: #ccc;
}

.btn-light:hover {
  background-color: #e6e6e6;
}

.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-weight: bold;
}

.table {
  margin-bottom: 0;
}




